* { box-sizing: border-box; }

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    padding: 0;
    margin: 0;
}

header {
    background-image: url("http://www.placekitten.com/1000/200");
    background-size: cover;
    height: 200px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    color: white;
    font-size: 3em;
}

header img {
    width: 100%;
}

.catForm {
    margin-bottom: 30px;
}

article {
    padding: 5em;
}

article .img-container {
    width: 100%;
    height: 250px;
    overflow: hidden;
} 

article img { 
    width: 100%;
}

article aside {
    float: right;
    background-color: #eee;
    margin: 20px 0 20px 20px;
    padding: 10px 20px;
    width: 33%;
}

.lede {
    color: darkgreen;
    font-weight: bold;
}

.square {
    float: left;
    height: 100px;
    width: 100px;
    padding: 10px;
    margin-right: 10px;
    display: inline-block;
    transition: all .2s ease-in-out;
}

.square:hover {
    height: 120px;
    width: 120px;
}

#blueSquare {
    background-color: blue;
}

#redSquare {
    background-color: red;
}

#yellowSquare {
    background-color: yellow;
}


footer {
    background-color: #eee;
    padding: 40px;
    text-align: center;
    font-size: .85em;
}